body {
  font-family: arial;
}
.column {
  float: left;
  width: 242px;
  background-color: darkgray;
  margin: 10px;
  padding: 10px;
}

.column h2 {
  margin-top: 0;
}

.image {
  width: 100%;
  width: 239px;
  height: 159px;
}
